.contact-wrapper {
  display: flex;
}

.contact-touch {
  width: 50%;
  padding: 3.5rem;
  background-color: black;
}

.contact-touch h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(245, 156, 156, 0.671);
}

.contact-touch p,
span {
  font-size: 1rem;
  color: rgba(245, 156, 156, 0.671);
  line-height: 1.5rem;
}
.contact-form {
  background-color: rgba(245, 156, 156, 0.671);
  /* background-color: #da7939; */
  /* background-color: #1C41B0; */
  width: 50%;
  padding: 3.5rem;
}
.contact-form h1 {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  padding-bottom: 1rem;
}
.contact-form h2 {
  font-size: 1.3rem;
  color: balck;
}
.contact-form label {
  font-size: 0.8rem;
  color: black;
}
.contact-form input {
  width: 70%;
  outline: none;
}
.contact-form textarea {
  width: 70%;
  border-radius: 5px;
  outline: none;
}

#form input {
  border-radius: 5px;
  border-color: #e1e1e1;
  height: 40px;
}
.contact-form button {
  text-align: center;
  background-color: black;
  color: rgba(245, 156, 156, 0.671);
  padding: 0.6rem;
  border-radius: 5px;
}
button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.mail-icon {
  color: blue;
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-touch {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}
