.Edu-body {
  height: 50vh;
  display: flex;
  background-color: black;
}

.edu-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgba(245, 156, 156, 0.671);
  border-bottom: 2px solid rgba(245, 156, 156, 0.671);
}

.edu-right {
  line-height: 30px;
  width: 100%;
  border-bottom: 2px solid rgba(245, 156, 156, 0.671);
}

.edu-left {
  color: rgba(245, 156, 156, 0.671);
  width: 30%;
}

.right-1 {
  border: 2px solid rgba(245, 156, 156, 0.671);
  padding-top: 40px;
  padding-left: 10px;
  color: rgba(245, 156, 156, 0.671);
}

.right-2 {
  border: 2px solid rgba(245, 156, 156, 0.671);
  padding-top: 40px;
  color: rgba(245, 156, 156, 0.671);
  padding-left: 10px;
  height: 26.2vh;
}

@media screen and (max-width: 900px) {
  .Edu-body {
    flex-direction: column;
    width: 100%;
  }

  .edu-left {
    width: 100%;
  }
  .edu-right {
    width: 100%;
  }
}
