.Testimonial-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.Testimonial-all .testimonial-header {
  text-align: center;
  background-color: rgba(177, 22, 22, 0.356);
  height: 100%;
  width: 100%;
}

.Testimonial-all .testimonial-header h1 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: 50%;
}

.Testimonial-all .testimonial-body {
  width: 100%;
  height: 100%;
  background-color: black;
}
.Testimonial-all .testimonial-body .test-boxes1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Testimonial-all .testimonial-body .test-boxes2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.Testimonial-all .testimonial-body .test-boxes {
  padding: 2rem;
}

.Testimonial-all .testimonial-body .test-boxes img {
  /* border: 2px solid red; */
  border-radius: 50%;
  margin-left: 100px;
}

.Testimonial-all .testimonial-body .test-boxes h2 {
  text-align: center;
  color: rgba(245, 156, 156, 0.671);
}

.Testimonial-all .testimonial-body .test-boxes p {
  text-align: center;
  color: rgba(245, 156, 156, 0.671);
}

@media screen and (max-width: 900px) {
  .Testimonial-all {
    display: flex;
    flex-direction: column;
  }

  .Testimonial-all .testimonial-header h1 {
    font-size: 20px;
  }

  .Testimonial-all .testimonial-header {
    width: 100%;
    height: 50vh;
  }

  .Testimonial-all .testimonial-body .test-boxes {
    padding: 0rem;
  }

  .Testimonial-all .testimonial-body .test-boxes img {
    width: 40%;
  }

  .Testimonial-all .testimonial-body .test-boxes h2 {
    font-size: 20px;
  }
}
